*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.container{
    margin: 20px auto;
    max-width: 500px;
    background-image: url("../img/nasa_world.jpg");
    background-size: cover;
    border-radius: 20px;
    position: relative;
}

/* Header */
h1{
    padding: 30px 0 20px 0;
    font-size: 45px;
}
h3{
    padding-bottom: 15px;
    font-size: 20px;
    font-style: italic;
}
select{
    display: inline-block;
    width: 450px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid white;
}
select, option{
        color: black;
}
/* main */
main{
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    color: black;
}
hr{
    margin-top: 10px;
}
#titolo_orologio{
    color:white;
    font-weight: bold;
    font-size: 30px;
}
.display{
    margin: 10px;
}
.ora{
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}
#two_cities{
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 200px;
    border-radius: 30px;
    padding: 10px;
}
#orologio {
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
}

.orologio-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
}

#orologio_base {
    background-image: url("../img/orologio.gif");
    z-index: 1;
}

#ore {
    background-image: url("../img/ore.gif");
    background-size: 4%;
    z-index: 2;
}

#minuti {
    background-image: url("../img/minuti.gif");
    background-size: 4%;
    z-index: 3;
}

#secondi {
    background-image: url("../img/secondi.gif");
    background-size: 6%;
    z-index: 4;
}


/* footer */
footer, header{
    padding: 10px;
    color: white;
}
a{
    color: pink;
}
.links{
    margin-top: 10px;
}
